h2 {
  color: blueviolet;
}

p {
  color: darkcyan;
}
li {
  color: aquamarine;
}

.desc_res {
  color: cornflowerblue;
}

#top {
  color: cadetblue;
  font-size: 50px;
} 

p {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 3px 4px red;
  font-family: cursive;
  font-weight: bolder;
}

div{
  background-color: blueviolet;
  width: 50vw;
  height: 50vh;
}